@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

body {
  border-color: white;
  font-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.nav-item {
  display: flex;
  justify-content: space-around;
  gap: 140px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 250px;
  
}

.nav-item li {
  border-bottom: 2px solid transparent;
  list-style: none;
  color: #000000;
  display: flex;
  margin-top: 30px;
  font-size: 25px;
}

.nav-item li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.nav-item a:hover {
  transition: 0.3s;
  border-color: white;
  color: rgb(129, 129, 129);
}

.titulo {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

.subtitulo {
  font-style: italic;
  padding-left: 35px;
}

.search-icon:hover {
  cursor: pointer;
}

.search-container{
  width: 1400px;
  display: block;
  margin: 0 auto;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  margin-left: 35px;
  padding: 20 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
 }

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -58px;
  right: -45px;
}

.imagem-principal {
  width: 100%;
  height: 800px;
}

.card-container {
  position: relative;
  width: 900px;
  height: 200px;
  top: -300px;
  left: 500px;
  border-radius: 50px;
  background-color: #ffffffd8;
  
}

.card-escuro {
  position: relative;
  background-color: #837f7f79;
  width: 250px;
  height: 200px;
  top: -98px;
  border-radius: 50px;
  margin: 0px 0px 0px 650px;
} 

.card {
  background-color: #ffffff00;
  display: flex;
  flex-direction: row ;
  top: 60px;
  font-size: 25px;
}

.DiaCard {
  background-color: #ffffff00;
  border-radius: 50px;
  margin: 0px 5px 0px 35px;
  font-size: 80px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.MesCard {
  margin-top: 50px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.CardCheck {
  display: flex;
  flex-direction: row ;
  font-size: 33px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 55px;
  padding-left: 10px;
  color: white;
}

.CardCheck:hover {
  cursor: pointer;
}

.Topfrase {
  color: rgb(146, 146, 146);
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.Fraseslogan {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 100px;
}

.PousadasContainer1 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 200px 0px 155px;
  gap: 30px;
  margin-bottom: 50px;
}

.PousadaUm , .PousadaDois, .PousadaTres {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(146, 146, 146);
  height: 500px;
}


.imagempousada1 , .imagempousada2 , .imagempousada3{
  width: 500px;
  height: 280px;
  padding: 0px 0px;
}

.imagempousada4 , .imagempousada5 , .imagempousada6 {
  width: 500px;
  height: 280px;
  padding: 0px;
}

.CEPCard1 , .Disponibilidade1 , .NomePousada1 {
  padding: 10px 0px 0px 50px; 
  font-size: 20px;
}

.NomePousada1 {
  padding-top: 0px;
  font-size: 40px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.NomePousada1 , .NomePousada2 , li , a {
  text-decoration: none;
  color: #000000;
}

.NomePousada1 , .NomePousada2 , li , a :hover {
  transition: 0.5s;
}

.Disponibilidade1 {
  padding-top: 0px;
}

.Cavaliacao1 {
  display: flex;
  flex-direction: row;
  padding: 10px; 
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(146, 146, 146);
  width: 500px;
  height:60px;
  font-size: 20px;
}

.estrela1 {
  height: 30px;
}

.PousadasContainer2 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 200px 0px 155px;
  gap: 30px;
}

.PousadaQuatro , .PousadaCinco, .PousadaSeis {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(146, 146, 146);
  height: 500px;
}


.imagempousada4 , .imagempousada5 , .imagempousada6 {
  width: 500px;
  height: 280px;
  padding: 0px;
}

.CEPCard2 , .Disponibilidade2 , .NomePousada2 {
  padding: 10px 0px 0px 50px; 
  font-size: 20px;
}

.NomePousada2 {
  padding-top: 0px;
  font-size: 40px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.Disponibilidade2 {
  padding-top: 0px;
}

.Cavaliacao2 {
  display: flex;
  flex-direction: row;
  padding: 10px; 
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(146, 146, 146);
  width: 500px;
  height:60px;
  font-size: 20px;
}

.estrela2 {
  height: 30px;
}

#footer {
	background: rgb(14, 13, 13);
	color: white;
	padding: 80px 0;
  margin-top: 100px;
}

#footer .footer-content {
	display: flex;
	width: 60%;
	margin: auto;
	justify-content: space-between;
}

#footer .footer-content .footer-menu {
	margin: 0 60px;
	list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
	margin: 25px 0;
	transition: all 300ms ease;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
	color: var(--default-green);
	cursor: pointer;
}

#footer .footer-content .footer-menu p {
	font-weight: bold;
	text-transform: uppercase;
	color: #919496;
	font-size: 0.8rem;
}

.socials {
	display: flex;
}

.socials i {
	margin: 0 20px;
	font-size: 1.7rem;
	transition: all 300ms ease;
}

.socials i:hover {
	color: var(--default-green);
	cursor: pointer;
}

.footer-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 60%;
	margin: auto;
	font-weight: bold;
	color: #919496;
	font-size: 0.75rem;
	padding-top: 50px;
}

.footer-info .footer-info-items {
	display: flex;
	list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
	margin: 0 10px;
	transition: all 300ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover {
	color: var(--default-green);
	cursor: pointer;
}

.footer-info .rights .country {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 10px;
}

.footer-info .rights .country p {
	transition: all 300ms ease;
}

.footer-info .rights .country p:hover {
	color: var(--default-green);
	cursor: pointer;
}

.footer-info .rights .country .brazil-flag {
	height: 20px;
	width: auto;
	display: inline-block;
	margin-left: 10px;
}
